html {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.container {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}